# dependencies
/node_modules
/.pnp
.pnp.js

# compiled TypeScript output
**/*.js
!**/*.config.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
